body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color: black;
    color:gold;
}
#link{
    position: fixed;
    align-self: center;
    bottom:1rem;
    color: inherit;
}
#score{
    position: fixed;
    align-self: center;
    top: 1rem;
    color: gold;
    font-size: 2rem;
    line-height: 1rem;
}
.gridBox{
    display:grid;
    grid-template-columns: 12rem 12rem 12rem 12rem;
    grid-template-rows: 12rem 12rem 12rem;
    background-color: black;
    place-items: center;
    overflow: hidden;
    color:blueviolet;
    border: 2rem solid gold;
}
#mainImage{
    grid-row: 1/4;
    grid-column: 1/5;
    max-height: 100%;
    justify-content: center;
    align-items: baseline;
    width: auto;
    z-index: 2;
}
#socios1, #socios2, #socios3, #socios4, #socios5, #socios6, #socios7, #socios8, #socios9, #socios10, #socios11, #socios12{
    position: relative;
    width: 100%;
    height: auto;
    opacity: .2;
    z-index: 3;
}
#socios1{
    grid-row: 1;
    grid-column: 1;
}
#socios2{
    grid-row: 1;
    grid-column: 2;
}
#socios3{
    grid-row: 1;
    grid-column: 3;
}
#socios4{
    grid-row: 1;
    grid-column: 4;
}
#socios5{
    grid-row: 2;
    grid-column: 1;
}
#socios6{
    grid-row: 2;
    grid-column: 2;
}
#socios7{
    grid-row: 2;
    grid-column: 3;
}
#socios8{
    grid-row: 2;
    grid-column: 4;
}
#socios9{
    grid-row: 3;
    grid-column: 1;
}
#socios10{
    grid-row: 3;
    grid-column: 2;
}
#socios11{
    grid-row: 3;
    grid-column: 3;
}
#socios12{
    grid-row: 3;
    grid-column: 4;
}
@media only screen and (max-width: 780px) {
.gridBox{
    display:grid;
    grid-template-columns: 8rem 8rem 8rem 8rem;
    grid-template-rows: 8rem 8rem 8rem;
    background-color: black;
    place-items: center;
    overflow: hidden;
}
}
@media only screen and (max-width: 400px) {
.gridBox{
    display:grid;
    grid-template-columns: 4rem 4rem 4rem 4rem;
    grid-template-rows: 4rem 4rem 4rem;
    background-color: black;
    place-items: center;
    overflow: hidden;
}
.gridBox{
    border-radius: .2rem;    
}
}