.akaya-kanadaka-regular {
  font-family: "Akaya Kanadaka", system-ui;
  font-weight: 400;
  font-style: normal;
}
.sirivennela-regular {
  font-family: "Sirivennela", sans-serif;
  font-weight: 400;
  font-style: normal;
}
body{
  display: flex;
  flex-flow: row wrap;  
  font-family: "Akaya Kanadaka", system-ui;
  font-size: larger;
  text-transform: lowercase;
}
.wonderOfYou{
  font-weight: 400;
  color:rgb(180, 133, 14);
}
.wonder{
  color:goldenrod;
}