.unkempt-regular {
  font-family: "Unkempt", cursive;
  font-weight: 400;
  font-style: normal;
}

.unkempt-bold {
  font-family: "Unkempt", cursive;
  font-weight: 700;
  font-style: normal;
}

.sunshiney-regular {
  font-family: "Sunshiney", cursive;
  font-weight: 400;
  font-style: normal;
}
.fuzzy-bubbles-regular {
  font-family: "Fuzzy Bubbles", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.fuzzy-bubbles-bold {
  font-family: "Fuzzy Bubbles", sans-serif;
  font-weight: 700;
  font-style: normal;
}
body {
  font-family: "Fuzzy Bubbles", sans-serif;
  line-height: 1.5;
  margin-left: 10rem;
  margin-right: 10rem;
  font-size: x-large;
  background-image: url("content/Pineapple.jpg");
  background-repeat: repeat;
  background-color: black;
  padding-top: 2rem;
  padding-bottom: 2rem;

}
.repeatedVerse1{
  font-family: "Unkempt", cursive;
  font-style: normal;
}
.repeatedVerse2{
  font-family: "Sunshiney", cursive;
  font-style: normal;
}
.left {
  text-align: left;
}
.center {
  text-align: center;
}
.right {
  text-align: right;
}
.center {
  text-align: center;
}
h3 {
  font-weight: 400;
  background-color: white;
  opacity: .9;
  position: fixed;
  left: -10rem;
  right: -10rem;
  margin: 0;
  font-size: x-large;
}
p {
  font-weight: 900;
}
.topBorder{
  top: 0rem;
  text-align: center;
}
.bottomBorder{
  bottom: 0rem;
  text-align: center;
}