.unkempt-regular {
  font-family: "Unkempt", cursive;
  font-weight: 400;
  font-style: normal;
}

.unkempt-bold {
  font-family: "Unkempt", cursive;
  font-weight: 700;
  font-style: normal;
}

.sunshiney-regular {
  font-family: "Sunshiney", cursive;
  font-weight: 400;
  font-style: normal;
}
.fuzzy-bubbles-regular {
  font-family: "Fuzzy Bubbles", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.fuzzy-bubbles-bold {
  font-family: "Fuzzy Bubbles", sans-serif;
  font-weight: 700;
  font-style: normal;
}
body {
  font-family: "Fuzzy Bubbles", sans-serif;
  line-height: 1.5;
  margin-left: 10rem;
  margin-right: 10rem;
  font-size: xx-large;
}
.repeatedVerse1{
  font-family: "Unkempt", cursive;
  font-style: normal;
  font-weight: 700;
}
.repeatedVerse2{
  font-family: "Sunshiney", cursive;
  font-style: normal;
  font-weight: 500;
}
.left {
  text-align: left;
}
.center {
  text-align: center;
}
.right {
  text-align: right;
}
.center {
  text-align: center;
}
h3 {
  font-weight: 400;
  background-color: green;
  position: fixed;
  left: 8rem;
  right: 8rem;
  margin: 0;
  font-size: x-large;
}
.topBorder{
  top: 0rem;
}
.bottomBorder{
  bottom: 0rem;
}
