body{
    padding:0rem 16vw 0rem 16vw;
    font-family: Geneva, sans-serif;
    font-size: 2rem;
}
.pageHeader{
    display:flex;
    flex-direction: column;
    justify-content:flex-start;
    flex-wrap: wrap;
}
.pageHeaderInfo{
    display:flex;
    flex-direction: row;
    gap: 2rem;
    margin: .5rem 0rem .5rem 0rem;
}
h2{
    margin: 0rem 0rem 0rem 0rem;
    font-size: 1.2em;
}
.title{
    margin: 0rem 0rem 0rem 0rem;
    line-height: 10rem;
    font-size: 9rem;
}
.badass {
  color: black;
  /* animation: textChange 2s ease-in-out; */
  animation: textChange 1s ease-in-out infinite;

}
@keyframes textChange {
  /* 0% { color: white; }
  100% { color:black; } */
  0% { color: white; }
  50% { color:darkred; }
  100% { color: white; }
}
.hoverable{
  transition: 0.3s;
}
.hoverableContent{
    font-size: 0rem;
}
.hoverable:hover .hoverableContent{
  font-size: 1.6rem;
  line-height: 2.8rem;
}
img{
  max-width: 100%;
  height: auto;
}